<form class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="edit-title">Title</label>
    <div class="controls">
      <input type="text" id="edit-title" placeholder="title" value = "<%= data.title %>" >
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="edit-detail">Detail Info</label>
    <div class="controls">
      <textarea id = "edit-detail" rows="4" cols="50"><%= data.detail %></textarea>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="button" class="btn btn-pirmary save">Save</button>
    </div>
  </div>
</form>