<div style="display:block" id = "view-block">
  <h4><%= data.title %></h4>
  <div><%= data.detail %></div>
  <div>
  <button class="edit">Edit</button>
  </div>
</div>

<div id="edit-block" style="display:none">
  <div>
    <input typle="text" value = "<%= data.title %>" >
  </div>
  <div>
    <textarea rows="4" cols="50">
      <%= data.detail %>
    </textarea>
  </div>
  <div>
    <button class="save">Save</button>
  </div>
</div>