<div id = "view-block">
  <h2><%= data.title %></h2>
  <p class="lead"><%= data.detail %></p>
  <div>
    <button class="btn btn-primary edit">Edit</button>
    <button class="btn btn-danger delete">Delete</button>
  </div>
</div>