html , body {
  height: 100%
}

.inline-div {
  height: 100%
}

#left {
  width: 30%;
  border-right-width: 2px;
  border-right-style: solid;
  height:100%;
  display:inline-block;
}

#right {
  width: 69%;
  display:inline-block;
}
